header{
	.navbar{
		background: $header-bg;
	}
	.navbar-brand{
		padding: 10px 4px 4px 4px;
	}
	.icon-bar{
		background: $base-white;
	}
	.navbar-nav{
		li{
			.dropdown-menu{
				padding: 0;
			}
		}
	}
	#navbar{
		ul{
			li{
				&.open{
					a{
						background: $nav-active;
					}
				}
				a{
					color: $base-white;
					&.active{
						background: $nav-active;
					}
					&:hover{
						background: $nav-active;
					}
				}
			}
		}
	}
}